@{
    ViewBag.Title = "Formulario";
}

<h2>Ingresa un número</h2>

<form method="get" action="/Numeros/Signo">
    <input type="number" name="numero" required />
    <button type="submit">Ver resultado</button>
</form>
