@{
    ViewData["Title"] = "Conversión de Temperatura";
}

<h2>Conversión de Temperatura</h2>

<p>Temperatura en Fahrenheit: <strong>@ViewBag.Fahrenheit</strong> °F</p>
<p>Temperatura en Celsius: <strong>@ViewBag.Celsius</strong> °C</p>

